body, html {
    color: #4B4B4B;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff !important;
    -webkit-print-color-adjust: exact !important;
}

button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

input, textarea {
    border: none;
    outline: none;
    resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tambo-scrollbar::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: transparent;
}
.tambo-scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
    opacity: 0.5;
}

.tambo-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #4B4B4B;
    opacity: 0.5;
}

a {
    color: #4B4B4B !important;
    text-decoration: none !important;
}